@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #f5f5f4; /* stone-50 */
  margin: 0;
  padding: 0;
  /* Material You dynamic color simulation variables */
  --md-sys-color-primary: #10b981;
  --md-sys-color-primary-container: #d1fae5;
  --md-sys-color-on-primary-container: #064e3b;
  --md-sys-color-error-container: #fee2e2;
  --md-sys-color-on-error-container: #7f1d1d;
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}
